.is-blocked {
  position: relative;
  pointer-events: none;
}
.is-blocked > * {
  opacity: .5;
}
.is-blocked::after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 50%;
  border: 6px solid #4285F4;
  box-sizing: border-box;
  animation: sweep 1s linear alternate infinite,
             rotate 0.8s linear infinite;
  width: 65px;
  height: 65px;
  opacity: 1;
}

@keyframes rotate {
  from {
    transform: translate(-50%,-50%) rotate(0deg);
  }
  to {
    transform: translate(-50%,-50%) rotate(360deg);
  }
}

@keyframes sweep {
  0% {
    clip-path: polygon(0% 0%, 0% 0%, 0% 0%, 50% 50%, 0% 0%, 0% 0%, 0% 0%);
  }
  50% {
    clip-path: polygon(0% 0%, 0% 100%, 0% 100%, 50% 50%, 100% 0%, 100% 0%, 0% 0%);
  }
  100% {
    clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 50% 50%, 100% 100%, 100% 0%, 0% 0%);
  }
}
